<div class="container-fluid p-3">
    <div class="row text-center">
        <div class="col-12">
            <p>Connect with me on LinkedIn <a href="https://www.linkedin.com/in/dheerajnahariya/">Dheeraj Nahariya</a></p>
        </div>
    </div>
</div>